.container {
  .invoices-list {
    &--empty {
      text-align: center;
      margin-top: 30px;
      font-size: 18px;
      color: #776a6a;
    }
    .edit-icon:hover {
      cursor: pointer;
      font-size: 20px;
    }
  }
  .create-invoice-button {
    display: block;
    margin: 0 auto;
  }
}
